@charset "UTF-8";

.wrap {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #9e9e9e4d;
}

.payment_wrap {
	width: 1060px;
	height: 97%;
	position: relative;
}

.title {
	width: 100%;
	height: 9%;
	padding-top: 20px;
	display: flex;
	justify-content: center;
}

.title h1 {
	font-size: 28px;
}

.product {
	width: 450px;
	height: 200px;
	padding: 20px;
	background-color: white;
}

.product h6, .order_info h6, .plus_order_info h6, .top_off h6,
	.payment_info h6, .payment h6 {
	font-weight: bold;
	color: #20252b;
	font-size: 1.286em;
	line-height: 1.4;
	font-style: normal;
}

.product_info {
	display: table-cell;
	vertical-align: top;
	word-break: break-all;
	font-size: 14px;
}

img {
	width: 90px;
	aspect-ratio: auto 90/90;
	height: 90px;
}

.product_img {
	width: 30%;
}

.product_info {
	position: relative;
	width: 250px;
	height: 100px;
	left: 116px;
	top: -100px;
	font-size: 12px;
}

.order_info {
	width: 450px;
	height: 200px;
	padding: 20px;
	background-color: white;
	position: relative;
	top: 20px;
}

.order_number {
	position: relative;
	width: 193px;
	left: 19px;
	top: 0px;
}

.order_email {
	position: relative;
	width: 99%;
	top: 15px;
	right: 1px;
}

.order_memo {
	position: relative;
	width: 99%;
	top: 28px;
	right: 1px;
}

.plus_order_info {
	width: 450px;
	height: 200px;
	padding: 20px;
	background-color: white;
	position: relative;
	top: 40px;
}

.plus_order_name, .plus_order_number {
	width: 99%;
}

.top_off {
	width: 450px;
	height: 165px;
	padding: 20px;
	background-color: white;
	position: relative;
	top: 60px;
}

.text-gray-bright {
	background-color: #607d8b54;
}

.payment_method {
	position: fixed;
	top: 16%;
	right: 27%;
	transition: top 0.3s ease;
}

.payment_info {
	width: 450px;
	height: 155px;
	padding: 20px;
	background-color: white;
}

.payment {
	width: 450px;
	height: 155px;
	padding: 20px;
	background-color: white;
	position: relative;
	top: 20px;
}

.pay_order_name {
	position: relative;
	top: 42px;
	right: 98px;
}

.payment_agree {
	width: 450px;
	height: 70px;
	padding: 20px;
	background-color: white;
	position: relative;
	top: 40px;
}

.payment_method_wrap {
	width: 28%;
	height: 61%;
	right: 25%;
	position: absolute;
}
