@charset "UTF-8";

.reserveImg {
	background-image: url("../../img/payment/reserve.jpg");
	width: 100%;
	height: 35vh;
	padding-left: 0;
	padding-right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.text_wrap {
	background-color: rgba(0, 0, 0, 0.55);
	width: 100%;
	height: 35vh;
	justify-content: center;
	align-items: center;
	display: flex;
}

.reserveImg h1 {
	font-size : 50px;
	color: white;
}

#reserveNotice h1 {
	padding-top: 40px;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 30px;
	color: #000;
	font-weight: bold;
}

/* .container {
	justify-content: center;
	align-items: center;
	display: flex;
} */
.CampImgContainer {
	justify-content: center;
	align-items: center;
	display: flex;
	padding-top: 60px;
	flex-direction: column;
}

.CampImgContainer h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight : bold;
    color: #4b5865;
}

.campImg {
	background-image: url("../../img/payment/camp.jpg");
	width: 80%;
	height: 70vh;
	background-size: cover;
}

@media ( max-width : 1280px) {
	.campImg {
		width: 100%; 
		height: 70vh;
		background-size: 100% 100%;
	}
}

.campExamContainer {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	text-align: center;
	width: 100%;
}

.campExam {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;

	/* max-width: 500px; */
}

.campExam p {
	margin: 10px 0;
	line-height: 1.6;
}

.campExam p:first-child {
	font-weight: bold;
	font-size: 1.2em;
}