@charset "UTF-8";

.container {
	justify-content: center;
	align-items: center;
	display: flex;
}

.feeImg {
	background-image: url("../img/fee.jpg");
	width: 100%;
	height: 70vh;
	background-size: 100% 100%;
}