@charset "UTF-8";

body {
	padding-top: 55px;
} 


.bg-dark {
    background-color: #FAF6EA!important; 
	position : fixed;
	top: 0;
	left: 0;
	right: 0; 
}

.navbar-dark .navbar-nav .nav-link {
    color: #62615C;
}
.navbar-dark .navbar-brand {
    color: #1E3148;
}

.navbar-dark .navbar-toggler {
  border-color: #62615C;
} 

.navbar-dark img{
	width: 50px;
    height: 50px;
	
}

.navbar-dark .navbar-nav .nav-item:hover .nav-link {
    color: #b3b9be;
}

.navbar-dark .navbar-brand:hover {
    color: #b3b9be; 
}

.separator {
    display: flex;
    align-items: center;
}

.separator::after {
    content: "|";
    margin: 0 5px; 
    color: #b3b9be; 
}


.navbar-dark .right-aligned {
    padding-left:0;
}
